@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Ubuntu:wght@300;400;700&display=swap');

body {
  max-width: 1200px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  /* font-family: 'Ubuntu', sans-serif; */
  display: flex;
}



.pinkBack {
  background-color: #ff4c68;
  color: #fff;
}

.title {
  display: flex;
}

.flexItem {
  width: 50%;
}